# **Exception**

An exception is an event that disrupts the normal flow of a program’s execution. When an error occurs, Python generates an exception that can be handled to prevent the program from crashing.


# **Common Exceptions in Python**

1.   TypeError: Raised when an operation or function is applied to an object of inappropriate type.
2.   ValueError: Raised when a function receives an argument of the right type but an inappropriate value.
3.  IndexError: Raised when attempting to access an element from a list or tuple with an invalid index.
4. KeyError: Raised when attempting to access a dictionary with a key that does not exist.
5. ZeroDivisionError: Raised when a division by zero is attempted.
6. FileNotFoundError: Raised when trying to open a file that does not exist.

In [ ]:
a = int(input())
try:
  print("trying")
  print(a + "Hello")
  print("executing")
except:
  print("Error Occured")

44
trying
Error Occured

In [ ]:
a = int(input())
try:
  print("trying")
  print(a + "Hello")
  print("executing")
except Exception as e:
  print(e)
  print("Error Occured")

44
trying
unsupported operand type(s) for +: 'int' and 'str'
Error Occured

In [ ]:
# Attempting to concatenate a string and an integer
try:
    result = "The answer is: " + 42
except Exception as e:
  print(e)

can only concatenate str (not "int") to str

In [ ]:
try:
    result = "The answer is: " + 42
except TypeError as e:
    print(f"TypeError: {e}")

TypeError: can only concatenate str (not "int") to str

Final Block

In [ ]:
try:
    result = "The answer is: " + '42'
    print(result)
except TypeError as e:
    print(f"TypeError: {e}")
finally:
  print("Code Executed")

# Hamesha run ho ga final block

The answer is: 42
Code Executed

In [ ]:
# Converting a string to an integer
try:
    number = int("abc")
except ValueError as e:
    print(f"ValueError: {e}")

ValueError: invalid literal for int() with base 10: 'abc'

In [ ]:
# Accessing an element outside the range of a list
try:
    number = int("abc")
except Exception as e:
    print(f"IndexError: {e}")

In [ ]:
# Accessing a non-existent key in a dictionary
try:
    my_dict = {'name': 'Ayan', 'age': 25}
    print(my_dict['name'])
    value = my_dict['address']
except KeyError as e:
    print(f"KeyError: {e}")

Ayan
KeyError: 'address'

In [ ]:
# Trying to use a variable that hasn't been defined
try:
    print(my_variable)
except NameError as e:
    print(f"NameError: {e}")

NameError: name 'my_variable' is not defined

In [ ]:
# Else Block
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")
else:
    print("Division successful:", result)

Cannot divide by zero!

Scenario 1: User Input Validation
Context: You’re developing a program that asks users to input a number and then performs a calculation using that number. (Divide)

Scenario: The user might input something that’s not a number, causing a ValueError.

In [ ]:
try :
  a = int(input("Enter a number = "))
  b = int(input("Enter a number = "))
  result = a / b
except ValueError as e :
  print(f"ValueError : {e}")
else:
  print(f"Result is {result}")

Enter a number = 10
Enter a number = $
ValueError : invalid literal for int() with base 10: '$'

Scenario 2: String to Float Conversion
Context: You’re writing a program that converts a string input to a floating-point number.

Scenario: The user might enter a non-numeric string, causing a ValueError.

In [ ]:
try:
  a = int(input())
  a = float(a)
except ValueError as e:
  print(e)
else:
  print(a)

sds
invalid literal for int() with base 10: 'sds'


# **Raising User-Defined Exceptions**

In [ ]:
def check_age(age):
    if age < 18:
        raise ValueError("Age must be at least 18.")
    else:
        print("Age is acceptable.")

try:
    check_age(20)
except ValueError as e:
    print(f"Error: {e}")

Age is acceptable.

In [1]:
def divide(a, b):
    if b == 0:
        raise ZeroDivisionError("Division by zero is not allowed.")
    return a / b

try:
    result = divide(10, 0)
except ZeroDivisionError as e:
    print(f"Caught an exception: {e}")

Caught an exception: Division by zero is not allowed.

# **File Handling**

open

In [ ]:
# file = open('FileName',mode)

r- file exist ho ni chayai hai

w- it will create new file



*   'r': Read (default mode). Opens the file for reading.

*   'w': Write. Opens the file for writing (and truncates the file if it already exists).

*   'a': Append. Opens the file for writing, appending new content to the end.

*   'r+': Read and write.

In [ ]:
file = open('python1.txt','r')

# **Reading from a File**

*   read()
*   readline()
*   readlines()

In [ ]:
file = open('python1.txt','w')
# content = file.read()
# print(content)

In [ ]:
# To read file from desktop
# C:/Users/saylani/Desktop/python.txt
# C:\\Users\\saylani\\Desktop\\python.txt
file = open('C:/Users/saylani/Desktop/python.txt','r')
content = file.read()
print(content)

In [ ]:
file = open('C:/Users/saylani/Desktop/python.txt','r')
content = file.read()
print(content)

In [ ]:
file = open('python.txt','r')
content = file.read()
print(content)

Hello World
Ni hao
Bonjour

Readline

In [ ]:
file = open('python.txt','r')
content = file.readline()
print(content)
while content:
    print(content.strip())
    content = file.readline()
file.close()

Hello World

Hello World
Ni hao
Bonjour

In [ ]:
content = file.readline()
print(content)

Readlines

In [ ]:
file = open('python.txt','r')
content = file.readlines()
print(content)
for line in content:
  print(line)

['Hello World \n', 'Ni hao\n', 'Bonjour\n']
Hello World

Ni hao

Bonjour

# **Writing to a File**

In [ ]:
file = open('python_class.txt','w')
content = 'Saylani Mass IT Training'
file.write(content)
file.close()

In [ ]:
file = open('python_class.txt','a')
content = '\n Saylani Mass IT Training'
file.write(content)
file.close()

In [ ]:
new_content = ['Hello World \n', 'Ni hao\n', 'Bonjour\n']
file = open('python_class.txt','w')
file.writelines(new_content)
file.close()

In [ ]:
import csv

with open('output.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(["Name", "Age", "Occupation"])
    writer.writerow(["Ayan", 30, "Data Engineer"])
    writer.writerow(["Usama", 25, "Data Scientist"])

# **Error Handling in File Operations**

In [2]:
try:
    with open('non_existent_file.txt', 'r') as file:
        content = file.read()
except FileNotFoundError:
    print("Error: The file was not found.")
except IOError:
    print("Error: An I/O error occurred.")

Error: The file was not found.


Scenario 1: Handling File Not Found
Description: You want to read from a file, but the file might not exist.

In [ ]:
try:
  file=open("abc.txt","r")
  content=file.read()
  print(content)
except FileNotFoundError as e:
  print(e)

Scenario 2: Handling Incorrect File Mode
Description: You open a file in read mode but attempt to write to it.

In [ ]:
try:
  file = open("myfile.txt",mode='w')
  file.read()
except Exception as e :
  print(e)